body{
    width:100%;
    background: url(/Resource/images/newsletter.png) no-repeat;
    background-size: cover;
}
/*注册*/
.container-reg {
    padding-top: 20px;
}
.row-reg {
    margin-top: 20px;
}
.stutype-left {
    flex: none;
    margin-left: 0px;
    width: 80px;
    height: 30px;
    border: 1px solid #cccccc;
}
.stutype-right {
    flex: 1;
    height:30px;
    margin-left: 45px;
    padding-top:4px;
}
.form-wrap {
    display: flex;
}
.form-left {
    margin-left: 0px;
    width: 60px;
    height: 34px;
    line-height: 18px;
    border: 1px solid #cccccc;
    flex: none;
}
.form-right {
    flex: 1;
}
.cue {
    color: #b94a48;
    height: 30px;
    line-height: 30px;
}
.demo--label {
    display: inline-block;
    margin-left:15px; 
	color: #999999;
}

.demo--radio {
    display: none;
}

.demo--radioInput {
    background-color: 	#D3D3D3;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 100%;
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    width: 16px;
    line-height: 1;
}

.demo--radio:checked + .demo--radioInput:after {
    /*background-color: #57ad68;*/
    background-color:rgb(232,98,123);
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 10px;
    margin: 2px;
    width: 10px;
}

.demo--checkbox.demo--radioInput, .demo--radio:checked + .demo--checkbox.demo--radioInput:after {
    border-radius: 0;
}
/*登录*/
#login_left{

}

.login-area {
    margin-top:20px;
    /*margin-left:35%;*/
    width: 350px;
    height: 350px;
    background-color:rgba(250,250,250,0.6);
    color:#000;
}

#top {
    margin-top: 0px;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: Microsoft YaHei;
    font-size: 18px;
}

.inputarea {
    margin-top: 15px;
    border-radius: 5px;
    margin-left: 25px;
    border: solid 2px #ccc;
    width: 300px;
    height: 38px;
    background-color: #fff;
}

.space {
    width: 38px;
    height: 100%;
    float: left;
    background: url(/Resource/user.png) no-repeat center center;
    background-size: 20px 20px;
}

.space1 {
    width: 38px;
    height: 100%;
    float: left;
    background: url(/Resource/pwd.png) no-repeat center center;
    background-size: 20px 20px;
}

input {
    width: 255px;
    height: 34px;
    float: left;
    background: none;
    border: 0;
    outline: none;
    font-size:16px;
    padding-left:8px;
}
#autologo {
    margin-top: 10px;
    margin-left: 25px;
    width: 300px;
    height: 40px;
}

#login-error {
    width: 120px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    float: left;
    padding-left:8px;
}

#prompt {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: right;
    float: right;
    padding-right:10px;
    display: none;
}

#login {
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 25px;
    width: 300px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(35deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    background-image: -o-linear-gradient(35deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    background-image: linear-gradient(125deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
}

#register {
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 30px;
    width: 360px;
    height: 40px;
    background-color:  #56b282;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    cursor: pointer;
}
#otherLogin{
    width:300px;
    height:80px;
    margin-left:25px;
}
#otherLogin > span{
    height:80px;
    line-height:80px;
    padding-left:5px;
    font-size: 13px;
    float:left;
}
#qq_login{
    margin-left:12px;
    width:60px;
    background: url(/Resource/images/qq.PNG) no-repeat center center;
    background-size: 30px 30px;
    border-radius:100%;
}
#weixin_login{
    width:60px;
    background: url(/Resource/images/weixin.PNG) no-repeat center center;
    background-size: 36px 36px;
    border-radius:100%;
}
#weibo_login{
    width:60px;
    background: url(/Resource/images/weibo.PNG) no-repeat center center;
    background-size: 36px 30px;
    border-radius:100%;
}

/****************************************检测***************************************************/
.panel-heading > a{ 
    text-decoration:none; 
    color:#333; 
}
.panel-hide{
    display:none;
}
.panel-active{
    display:block;
}
.left-li{
    cursor:pointer;
    box-sizing:border-box;
}
.li-active{
    color:rgb(232,88,137);
    border-right: 3px solid rgb(232,88,137); 
}
.teach-video{
    cursor:pointer;
    margin-top:30px;
    width:100%;
}
#teach_video{
    width:100%;
    height:auto;
}
.circle{
    height:12px;
    width:12px;
    background-color:rgb(232,88,137); 
    border-radius:100%;
}
.title{
    color:#0e153a;
}
p{
    text-indent:2em;
    color:#695f5f;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	color: #433b88;
	font-weight: 600;
	text-transform: uppercase;
}
.btn_orange{
    background-image: -webkit-linear-gradient(35deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    background-image: -o-linear-gradient(35deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    background-image: linear-gradient(125deg, rgb(232,88,137) 0%, rgb(232,98,123) 32%, rgb(232,108,108) 100%);
    /*box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);*/
}
.panel-orange{border-color:rgb(232,98,123)}
.panel-orange>.panel-heading{color:#3c763d;background-color:rgb(254, 158, 190);;border-color:rgb(232,108,108)}
.panel-orange>.panel-heading+.panel-collapse>.panel-body{border-top-color:rgb(232,98,123)}
.panel-orange>.panel-heading .badge{color:rgb(232,98,137);background-color:#3c763d}
.panel-orange>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:rgb(232,98,123)}.panel-info{border-color:#bce8f1}

/*.panel-orange{border-color:#d6e9c6}
.panel-orange>.panel-heading{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}
.panel-orange>.panel-heading+.panel-collapse>.panel-body{border-top-color:#d6e9c6}
.panel-orange>.panel-heading .badge{color:#dff0d8;background-color:#3c763d}
.panel-orange>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#d6e9c6}.panel-info{border-color:#bce8f1}*/

.block-hide{
    display:none;
}




