
<!DOCTYPE html>
@{
    Layout = null;
}
<html lang="cn">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PaperFormatDetection</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/CSS/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/Content/CSS/owl.carousel.css">
    <link rel="stylesheet" href="/Content/CSS/owl.theme.css">
    <link rel="stylesheet" href="/Content/CSS/style.css">
    <link rel="stylesheet" href="/Content/CSS/ionicons.min.css">
    <link rel="stylesheet" href="/Content/CSS/login.css">
</head>
<body>
    <header id="home" class="gradient-violat">
        <nav class="navbar navbar-default @*navbar-fixed-top*@">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <span class="logo-wraper logo-white">
                            <img src="/Resource/images/Logo.png" alt="">论文格式检测
                        </span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav  navbar-right">
                        <li class="active"><a href="/Index">首页 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/Guide">使用帮助</a></li>
                        <li><a href="/Questions">常见问题</a></li>
                        <li><a href="/Feedback">用户反馈</a></li>
                        <li><a href="/Templates">论文模板</a></li>
                        @*<li><a href="/User/Login" class="btn btn-orange btn-navbar btn-reg" style="margin-top:5px;
                            height:36px;line-height:0.4;">登 录</a></li>*@
                        @{
                            HttpCookie cook = Request.Cookies["userInfo"];
                            if (cook != null)
                            {
                                <li>
                                    <a href="/Paper/Detection" class="btn btn-orange btn-navbar btn-reg" style="margin-top:5px;
                                        height:36px;line-height:0.4;">检测中心</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/User/Register" class="btn btn-orange btn-navbar btn-reg" style="margin-top:5px;
                                        height:36px;line-height:0.4;">注 册</a>
                                </li>
                            }
                        }
                    </ul>
                </div><!-- /.navbar-collapse -->
                <hr class="navbar-divider">
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <section id="introduction" class="gradient-violat home-slider">
        <div id="home-slider">
            <div>
                <div class="container">
                    <div class="row" style="margin-top:40px;padding-bottom:100px;">
                        <div class="col-lg-8 text-center">
                            <h2 class="cta-heading text-white">大连理工大学学位论文格式检测</h2>
                            <p class="text-white slider-para" style="margin-top:30px;">博士，硕士，本科学位论文</p>
                            <p class="text-white slider-para">一站式检测平台</p>
                            <img class="img-responsive" src="/Resource/images/mockuo2.png" />
                        </div>
                        <div class="col-lg-4">
                            <div class="login-area">
                                <div id="top">
                                    用户登录
                                </div>
                                <div class="inputarea"><div class="space"></div><input id="username" type="text" placeholder="用户名" /></div>
                                <div class="inputarea"><div class="space1"></div><input id="password" type="password" placeholder="密码" /></div>
                                <div id="autologo">
                                    <div id="login-error">忘记密码？</div>
                                    <div id="prompt">密码错误</div>
                                </div>
                                <div id="login">登 录</div>
                                <div id="otherLogin">
                                    <span>第三方登录</span>
                                    <span id="qq_login"></span>
                                    <span id="weixin_login"></span>
                                    <span id="weibo_login"></span>
                                </div>
                                @*<div id="register">注 册</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="text-center">
                    <h2 class="cta-heading text-white">大连理工大学学位论文格式检测</h2>
                    <p class="text-white slider-para" style="margin-top:30px;">博士，硕士，本科学位论文</p>
                    <p class="text-white slider-para">一站式检测平台</p>
                    <img class="img-responsive" src="/Resource/images/mockuo2.png" style="margin: 0 auto;" />
                </div>
            </div>
        </div>
    </section>

    <section id="blog-card" class="padding-top-bottom-90" style="background: url(/Resource/images/newsletter.png) no-repeat;background-size: cover;">
        <div class="container">
            <div class="heading-wraper text-center margin-bottom-80">
                <h4>关于系统</h4>
                <hr class="heading-devider gradient-orange">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top img-responsive max-width-100" src="/Resource/images/doctor1.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">类型全面</h4>
                            <p class="card-text">
                                本系统实现本科，硕士（包括专业硕士和学术硕士）和博士学位论文的一站式检测，
                                可以满足不同学位类型的学生对于论文格式检测的需求。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top img-responsive max-width-100" src="/Resource/images/doctor2.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">涵盖面广</h4>
                            <p class="card-text">
                                针对不同类型学位论文的各个模块进行了检测，包括论文封面，目录，摘要，
                                正文，参考文献，图，表和页眉页脚等，基本囊括各种论文的所有模块。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top img-responsive max-width-100" src="/Resource/images/write.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">内容细致</h4>
                            <p class="card-text">
                                对论文的不同模块的多项内容进行检测，包括段落缩进，段前短后行间距，字体字号等，
                                除此之外，针对论文模板的各项标准都进行检测。
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="testimonial" class="testimonial-section padding-top-bottom-90 gradient-violat">
        <div class="container">
            <div class="heading-wraper text-center">
                <h4 class="text-white">系统特性</h4>
                <hr class="heading-devider gradient-orange">
            </div>
            <div class="row">
                <div class="col-md-4 text-right feature">
                    <h4 class="text-white">快速准确</h4>
                    <p class="text-whitered">
                        系统在一分钟时间之内可以完成一篇论文的检测并生成错误报告，检测快速效率高，方便您修改之后反复检测。
                        检测具有很高的准确性，误报/漏报率极低
                    </p>
                </div>
                <div class="col-md-4 text-center"></div>
                <div class="col-md-4 text-left feature">
                    <h4 class="text-white">免费安全</h4>
                    <p class="text-whitered">
                        本系统不收取任何费用，完全免费，旨在为大连理工大学全校学生提供论文格式检测服务，使毕业论文格式规
                        范标准。且我们保证保护广大学生的隐私，保证所上传论文的绝对隐私安全，绝不向外泄露
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center"></div>
                <div class="col-md-4 text-center detection-img"></div>
                <div class="col-md-4 text-center"></div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right feature">
                    <h4 class="text-white">详细的错误报告</h4>
                    <p class="text-whitered">
                        论文检测完成之后会自动生成错误报告，错误报告为pdf格式，支持在线预览和下载，错误报告按照论文的模块
                        进行划分，每条错误报告包括错误提示及具体位置，方便您的修改
                    </p>
                </div>
                <div class="col-md-4 text-center"></div>
                <div class="col-md-4 text-left feature">
                    <h4 class="text-white">智能的错误分析</h4>
                    <p class="text-whitered">
                        系统根据错误报告，统计论文各个模块以及各种类型的错误，经过智能化算法分析给您提出正确合理的修改意见，
                        并以可视化的图形展示给您。
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer class="padding-top-120">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-left-content">
                        <div class="logo-colored">
                            <img src="/Resource/images/Logo_color.png" alt="">PFD
                        </div>
                        <div class="content">
                            <p class="margin-bottom-30 margin-top-30">对系统有任何疑问或建议，可到用户反馈栏进行反馈，也可通过以下方式联系。</p>
                            <p>+15164064286</p>
                            <p>Moflowers_zhang@163.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-list-wiget">
                                <h4>learn more</h4>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">About Dolphin</a>
                                    <a href="#" class="list-group-item">Learn CSS</a>
                                    <a href="#" class="list-group-item">Meeting Tools</a>
                                    <a href="#" class="list-group-item">Pricing</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-list-wiget">
                                <h4>Support</h4>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">FAQ</a>
                                    <a href="#" class="list-group-item">Contact US</a>
                                    <a href="#" class="list-group-item">Outlook Plugin</a>
                                    <a href="#" class="list-group-item">Phone Control</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-list-wiget">
                                <h4>About</h4>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">About US</a>
                                    <a href="#" class="list-group-item">Careear</a>
                                    <a href="#" class="list-group-item">Privat policy</a>
                                    <a href="#" class="list-group-item">Treams</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-list-wiget">
                                <h4>Links</h4>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">Home</a>
                                    <a href="#" class="list-group-item">About</a>
                                    <a href="#" class="list-group-item">Product</a>
                                    <a href="#" class="list-group-item">Intro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="footer-divider">
            <div class="copyright-cta">
                <p class="text-uppercase"></p>
            </div>
        </div>
        <div class="footer-end-line"></div>
    </footer>
    <div id="scroll-top-div" class="scroll-top-div">
        <div class="scroll-top-icon-container">
            <i class="ion-ios-arrow-thin-up"></i>
        </div>
    </div>
    @*jQuery first, then Tether, then Bootstrap JS.*@
    <script src="/Content/Scripts/jquery.min.js"></script>
    <script src="/Content/Scripts/bootstrap.min.js"></script>
    <script src="/Content/Scripts/owl.carousel.min.js"></script>
    <script src="/Content/Scripts/script.js"></script>
    <script src="/Content/Scripts/login.js"></script>
    <script type="text/javascript">
        function gdjz(div, offset) {
            var a, b, c, d;
            d = $(div).offset().top;//元素相对于窗口的距离
            a = eval(d + offset);
            b = $(window).scrollTop();//监控窗口已滚动的距离;
            c = $(window).height(); //浏览器窗口的高度
            if (b +c > d) {
                $(".feature").show(1000);
            }
            else {
                $(".feature").hide();
            }
        }

        $(document).ready(function (e) {
            $(window).scroll(function () {
                gdjz("#testimonial",  100);
                }
            );
        });
    </script>  
</body>
</html>
